<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Inventory App</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/sales">Sales</a>
        <a href="/suppliers">Suppliers</a>
      </nav>
    </header>
    <main><%- body %></main>
    <footer>
      <p>&copy; 2025 Inventory App</p>
    </footer>
  </body>
</html>
